@media (min-width: 1024px) and (max-width: 1280px) {
    .top-line, .second-block, .fourth-block, .footer-block, .cart-products-list {
        width: 880px;
    }
    .top-line-left {
        display: none;
    }
    .menu-btn .first-menu {
        width: 200px;
    }
    .brends-list {
        width: 880px;
        height: 70px;
    }
    .category {
        width: 280px;
        height: 360px;
    }
    .third-text-1, .third-header, .third-text-2, .third-text-3 {
        max-width: 880px;
    }
    .article {
        width: 280px;
        height: 440px;
    }
    .footer-lists {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .footer-list {
        width: 280px;
    }
    .paymend-list {
        margin-top: 80px;
    }
    .category-row {
        width: 400px;
        row-gap: 10px;
    }
    .product-list {
        width: 880px;
    }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
    .top-line, .second-block, .fourth-block, .footer-block, .cart-products-list {
        width: 620px;
    }
    .top-line-left {
        display: none;
    }
    .top-line-right {
        width: 220px;
    }
    .account {
        display: none;
    }
    .menu-btn .first-menu {
        width: 200px;
    }
    .first-tagline {
        font-size: 32px;
        max-width: 620px;
    }
    .brends-list {
        width: 620px;
        height: 45px;
    }
    .category {
        width: 300px;
        height: 390px;
    }
    .third-text-1, .third-header, .third-text-2, .third-text-3 {
        max-width: 620px;
    }
    .articles {
        gap: 10px;
    }
    .article {
        width: 200px;
        height: 320px;
        padding-bottom: 20px;
    }
    .article p {
        width: 160px;
    }
    .footer-lists {
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 70px;
        row-gap: 20px;
    }
    .footer-list {
        width: 160px;
    }
    .footer-contact-list {
        width: 300px;
    }
    .paymend-list {
        margin-top: 60px;
    }
    .category-row {
        width: 400px;
        row-gap: 10px;
    }
    .product-list {
        width: 580px;
    }
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .top-line, .second-block, .fourth-block, .footer-block, .cart-products-list {
        width: 260px;
    }
    header {
        height: 90px;
    }
    #main {
        margin-top: 90px;
    }
    .top-line-left {
        display: none;
    }
    .logo-header {
        width: 190px;
        height: 70px;
    }
    .top-line-right {
        width: 30px;
    }
    .account, .top-line-search, .cart-btn {
        display: none;
    }
    .menu-btn .first-menu {
        width: 200px;
    }
    .first-tagline {
        max-width: 260px;
    }
    .brends-list {
        width: 260px;
        height: 30px;
    }
    .category {
        width: 120px;
        height: 180px;
        padding-bottom: 10px;
    }
    .third-text-1, .third-header, .third-text-2, .third-text-3 {
        max-width: 260px;
    }
    .articles {
        flex-direction: column;
        align-items: center;
    }
    .article {
        width: 160px;
        height: 260px;
        padding-bottom: 15px;
    }
    .article p {
        width: 120px;
    }
    .footer-lists {
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 20px;
    }
    .footer-list {
        width: 260px;
    }
    .paymend-list {
        margin-top: 60px;
        width: 260px;
        height: 50px;
    }
    .uzcard {
        display: none;
    }
    .category-row {
        width: 260px;
        row-gap: 10px;
    }
    .product-list {
        width: 260px;
    }




    .p-12l {
        font-size: 12px;
        font-weight: 300;
    }
    .p-14r {
        font-size: 14px;
        font-weight: 400;
    }
    .p-24r {
        font-size: 20px;
        font-weight: 400;
    }
    .p-24r-titlecase{
        font-size: 20px;
        font-weight: 400;
        text-transform: capitalize;
    }
    .p-18r-upper {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .p-24b-upper {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .p-36b-upper {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 220px;
        height: 30px;
        border: 2px solid var(--white);
        cursor: pointer;
        transition: all 0.3s linear;
    }
}