@media (max-width: 1510px){
    .top-line, .second-block, .fourth-block, .footer-block, .cart-products-list {
        width: 1260px;
    }
    .top-line-left {
        display: none;
    }
    .menu-btn .first-menu {
        width: 200px;
    }
    .brends-list {
        width: 1260px;
        height: 100px;
    }
    .category {
        width: 400px;
        height: 440px;
    }
    .article {
        width: 400px;
        height: 500px;
    }
    .footer-list-partners {
        margin-left: 90px;
    }
    .category-row {
        width: 900px;
        column-gap: 135px;
    }
    .product-list {
        width: 590px;
    }
}
@media (max-width: 1360px){
    .top-line, .second-block, .fourth-block, .footer-block, .cart-products-list {
        width: 900px;
    }
    .top-line-left {
        display: none;
    }
    .menu-btn .first-menu {
        width: 170px;
    }
    .brends-list {
        width: 900px;
        height: 80px;
    }
    .category {
        width: 280px;
        height: 350px;
    }
    .article {
        width: 280px;
        height: 400px;
    }
    .footer-lists {
        flex-direction: column;
        flex-wrap: wrap;
        height: 710px;
    }
    .footer-list-partners {
        margin-left: 0px;
    }
    .footer-list {
        width: 410px;
        margin: 20px;
    }
}
@media (max-width: 1000px){
    .top-line, .second-block, .fourth-block, .footer-block, .cart-products-list {
        width: 620px;
    }
    .top-line-left, .account, .cart-btn {
        display: none;
    }
    .menu-btn .first-menu {
        width: 150px;
    }
    .top-line-right {
        column-gap: 10px;
    }
    .brends-list {
        width: 620px;
        height: 50px;
    }
    .category-list, .articles {
        column-gap: 25px;
        row-gap: 25px;
    }
    .category {
        width: 190px;
        height: 230px;
    }
    .article {
        width: 190px;
        height: 300px;
    }
    .article p {
        width: 170px;
    }
    .footer-lists {
        flex-direction: column;
        flex-wrap: nowrap;
        height: max-content;
    }
    .footer-list-partners {
        margin-left: 0px;
    }
    .footer-list {
        width: 270px;
        margin: 20px;
    }
    .category-row {
        width: 520px;
        column-gap: 100px;
    }
    .cart-product-card {
        column-gap: 20px;
        padding: 20px;
    }
    .cart-count-block {
        right: 25px;
    }
}
@media (max-width: 720px){
    header {
        height: 120px;
        width: 100%;
    }
    main {
        margin-top: 120px;
    }
    .top-line, .second-block, .fourth-block, .footer-block, .cart-products-list {
        width: 380px;
    }
    .top-line-left, .account, .cart-btn {
        display: none;
    }
    .top-line-item {
        column-gap: 2px;
    }
    .logo-header .logo{
        width: 270px;
        height: 76px;
    }
    .menu-btn .first-menu {
        width: 150px;
    }
    .top-line-right {
        column-gap: 10px;
    }
    .brends-list {
        width: 380px;
        height: 35px;
    }
    .category-list, .articles {
        width: 380px;
        column-gap: 20px;
        row-gap: 20px;
    }
    .category {
        width: 180px;
        height: 230px;
    }
    .articles {
        flex-wrap: wrap;
        justify-content: center;
    }
    .article {
        width: 250px;
        height: 300px;
    }
    .article p {
        width: 170px;
    }
    .logo-footer {
        margin: 20px;
    }
    .footer-lists {
        flex-direction: column;
        flex-wrap: nowrap;
        height: max-content;
    }
    .footer-list-partners {
        margin-left: 0px;
    }
    .footer-list {
        width: 270px;
        margin: 20px;
    }
    .category-row {
        width: 450px;
        column-gap: 30px;
    }
    .cart-product-card {
        column-gap: 20px;
        padding: 20px;
    }
    .cart-count-block {
        right: 25px;
    }
}
@media (max-width: 480px){
    header {
        height: 80px;
        width: 100%;
    }
    main {
        margin-top: 80px;
    }
    .top-line, .second-block, .fourth-block, .footer-block, .cart-products-list {
        width: 380px;
    }
    .top-line-left, .account, .cart-btn {
        display: none;
    }
    .top-line-item {
        column-gap: 2px;
    }
    .logo-header .logo{
        width: 225px;
        height: 65px;
    }
    .menu-btn .first-menu {
        width: 150px;
    }
    .top-line-right {
        column-gap: 10px;
    }
    .brends-list {
        width: 380px;
        height: 35px;
    }
    .category-list, .articles {
        width: 380px;
        column-gap: 20px;
        row-gap: 20px;
    }
    .category {
        width: 180px;
        height: 230px;
    }
    .articles {
        flex-wrap: wrap;
        justify-content: center;
    }
    .article {
        width: 250px;
        height: 300px;
    }
    .article p {
        width: 170px;
    }
    .logo-footer {
        margin: 20px;
    }
    .footer-lists {
        flex-direction: column;
        flex-wrap: nowrap;
        height: max-content;
    }
    .footer-list-partners {
        margin-left: 0px;
    }
    .footer-list {
        width: 270px;
        margin: 20px;
    }
    .category-row {
        width: 450px;
        column-gap: 30px;
    }
    .cart-product-card {
        column-gap: 20px;
        padding: 20px;
    }
    .cart-count-block {
        right: 25px;
    }
}